body,
html {
  background-color: #c48a6b;
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 50%;
  width: 50%; /* Sesuaikan dengan lebar maksimum yang diinginkan */
  padding: 100px;
  padding-top: 40px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #c48a6b;
}

h5 {
  text-align: center;
}

.btn {
  background-color: #c48a6b;
  color: aliceblue;
  border: none;
}
